<div class="container-fluid">
    <div class="row justify-content-center">
        {{#each dbArticle}}
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src={{this.image}} alt="Article Image">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.summary}}</p>
                    <a href="{{this.link}}" target="_blank" class="btn btn-primary">Read</a>
                    <button type="button" class="btn btn-primary unsave-articles" data-id={{this._id}}>Unsave</button>
                    <button type="button" data-toggle="modal" data-target="#commentModal" class="btn btn-primary comments-Articles" data-id={{this._id}}>Comment</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<!-- Modal -->
<div class="modal" data-backdrop="false" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModal">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>